
.text-uppercase {
    text-transform: uppercase;
}
.ui.secondary.menu {
    background-color: aqua;
    color: #fff;
}
.ui.custom-section-2 {
    margin-top: 5px;
}
.ui .header.custom-header h3 {
    display: inline;
}
.ui .header.custom-header .custom-star {
    margin-left: 10px;
}
.ui.list .header.custom-header {
    display: flex;
    align-items: baseline;
}
.ui.grid .column.custom {
    display: flex;
    align-items: flex-end;
    padding-left: 0;
    padding-right: 0;
}
.column.custom-width {
    margin-right: 10px;
}
.column.custom-width .image img {
    width: 100%;
}
.ui .column .image {
    text-align: right;
}
.ui.button:hover {
    -webkit-animation: hoverAnimation 2s infinite; /* Safari 4+ */
    -moz-animation:    hoverAnimation 2s infinite; /* Fx 5+ */
    -o-animation:      hoverAnimation 2s infinite; /* Opera 12+ */
    animation:         hoverAnimation 2s infinite; /* IE 10+, Fx 29+ */
}

.main {
    text-align: center;
}
.card {
    border: 2px solid #444;
    border-radius: 5px;
}
.card:hover {
     cursor: pointer;
    -webkit-animation: hoverAnimation 2s infinite; /* Safari 4+ */
    -moz-animation:    hoverAnimation 2s infinite; /* Fx 5+ */
    -o-animation:      hoverAnimation 2s infinite; /* Opera 12+ */
    animation:         hoverAnimation 2s infinite; /* IE 10+, Fx 29+ */
}
.ui.header.custom-header { 
    margin: 15px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slick-arrow:before {
    color: black;
}
.image img {
    width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .main .ui.button {
        width: 95%;
    }
    .main .image img {
        width: 95%;
        margin: auto;
    }
    .ui[class*="four column"].grid>.column:not(.row),
    .ui[class*="four column"].grid>.row>.column.custom-width {
        width: 48%;
    }
    button.ui.button {
        margin: 1px;
    }
    .ui .column .image img {
        width: 100%;
    }
    .card,
    .main {
        width: 95%;
        margin: auto;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next {
        right: -10px;
    }
}

@media screen and (min-width: 769px) {
    .main .ui.button {
        width: 200px;
    }
    .main .image img {
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .main {
        padding: 0 10px;
    }
    .card {
        padding: 10px;
    }
    
}
@-webkit-keyframes hoverAnimation {
    0%   { box-shadow: inset 0 0 2px red }
    20%   { box-shadow: inset 0 0 4px red }
    40%   { box-shadow: inset 0 0 6px red }
    60%   { box-shadow: inset 0 0 8px red }
    80%   { box-shadow: inset 0 0 10px red }
    100%   { box-shadow: inset 0 0 12px red }
  }
  @-moz-keyframes hoverAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes hoverAnimation {
    0%   { box-shadow: inset 0 0 2px red }
    20%   { box-shadow: inset 0 0 4px red }
    40%   { box-shadow: inset 0 0 6px red }
    60%   { box-shadow: inset 0 0 8px red }
    80%   { box-shadow: inset 0 0 10px red }
    100%   { box-shadow: inset 0 0 12px red }
  }
  @keyframes hoverAnimation {
    0%   { box-shadow: inset 0 0 2px red }
    20%   { box-shadow: inset 0 0 4px red }
    40%   { box-shadow: inset 0 0 6px red }
    60%   { box-shadow: inset 0 0 8px red }
    80%   { box-shadow: inset 0 0 10px red }
    100%   { box-shadow: inset 0 0 12px red }
  }